 <!-- Footer -->
 <footer id="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <!-- Footer widget area 1 -->
            <div class="widget">
              <h4>Quick Links</h4>
              <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <!-- end: Footer widget area 1 -->
          </div>
          <div class="col-lg-4 col-lg-4 col-md-4">
            <!-- Footer widget area 1 -->
            <div class="widget">
              <h4>Contact</h4>
              <ul class="list-icon">
                <li>
                  <i class="far fa-envelope"></i>
                  <a href="mailto:first.last@example.com"
                    >first.last@example.com</a
                  >
                </li>
                <li><i class="fa fa-phone"></i> (123) 456-7890</li>
                <li><i class="fa fa-phone"></i> (123) 456-7890</li>
              </ul>
            </div>
            <!-- end: Footer widget area 1 -->
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <!-- Footer widget area 2 -->
            <div class="widget">
              <h4>Address</h4>
              <ul class="list">
                <li>
                  <i class="fa fa-map-marker-alt"></i> 795 Folsom Ave, Suite
                  600 <br />
                  San Francisco, CA 94107
                </li>
              </ul>
            </div>
            <!-- end: Footer widget area 2 -->
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <!-- Social icons -->
            <div class="social-icons social-icons-colored float-left">
              <ul>
                <li class="social-instagram">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="social-facebook">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="social-twitter">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="social-youtube">
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
            <!-- end: Social icons -->
          </div>

          <div class="col-lg-6">
            <div class="copyright-text text-end">
              &copy; 2021 POLO HTML5 Template. All Rights Reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end: Footer -->
</div>
<!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop"
  ><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i
></a>
<!--Plugins-->
<script src="/scripts/jquery.js"></script>
<script src="/scripts/plugins.js"></script>
<!--Template functions-->
<script src="/scripts/functions.js"></script>
 <!--Google Maps files-->
 <script type="text/javascript" src="/scripts/gmap3.min.js"></script>
</body>
</html>
