<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta
      name="description"
      content="Themeforest Template Polo, html template"
    />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Document title -->
    <title>website</title>
    <!-- Stylesheets & Fonts -->
    <link href="/stylesheets/plugins.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Body Inner -->
    <div class="body-inner">
      <!-- Header -->
      <header id="header" class="header-modern">
        <div class="header-inner">
          <div class="container">
            <!--Logo-->
            <div id="logo">
              <a href="index.ejs">
                <span class="logo-default">POLO</span>
                <span class="logo-dark">POLO</span>
              </a>
            </div>
            <!--End: Logo-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
              <a class="lines-button x"><span class="lines"></span></a>
            </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
              <div class="container">
                <nav>
                  <ul>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="contact.ejs">Products</a></li>
                    <li><a href="contact.ejs">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!--end: Navigation-->
          </div>
        </div>
      </header>
      <!-- end: Header -->
      <!-- Inspiro Slider -->
      <div
        id="slider"
        class="inspiro-slider slider-fullscreen dots-creative"
        data-fade="true"
      >
        <!-- Slide  -->
        <div
          class="slide kenburns"
          data-bg-image="images/slider/revolution/polo-homepage/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/slider/revolution/polo-homepage/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/slider/revolution/polo-homepage/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/slider/revolution/polo-homepage/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/slider/revolution/polo-homepage/notgeneric_bg3.jpg"
        ></div>
        <!-- end: Slide  -->
      </div>
      <!--end: Inspiro Slider -->
      <!-- About Us -->
      <section class="p-b-10">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 m-t-60">
              <img alt="Shop product image!" style="width: 100%;" src="https://images.unsplash.com/photo-1518253042715-a2534e1b0a7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" />
            </div>
            <div class="col-lg-6">
              <div class="heading-text text-center mt-5">
                <h2 class="fw-light">About Us</h2>
                <p class="lead px-5 fw-normal"
                  >Our company has been established since 1995. We started our
                  journey as traders in electrical products in a very small room
                  but proud to announce that we are distributors of more than 11
                  companies with more than 10 employees including automation
                  products and after services. We have consistently offered
                  hi-tech products and good service to our customers enabling us
                  to create a large portfolio of dedicated and loyal customers.
                  We provide products like drives, switch gears, cable, sensors,
                  controllers, encoders, interface product, transmitters,
                  recorders, power controllers, tower light/signal lights,
                  measuring and testing instruments and many more industrial
                  products. Our company’s main target is to sale reliable
                  products which helps our customer for sustainable development
                  of revolutionary world.
              </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End: About Us -->
      <!-- CLIENTS -->
      <section class="p-t-60">
        <div class="container">
          <div class="heading-text heading-section text-center">
            <h4 class="fw-light">Authorized Channel Partners</h4>
          </div>
          <div
            class="carousel client-logos"
            data-items="6"
            data-items-sm="4"
            data-items-xs="3"
            data-items-xxs="2"
            data-margin="20"
            data-arrows="false"
            data-autoplay="true"
            data-autoplay="3000"
            data-loop="true"
          >
            <div>
              <a href="#"><img alt="" src="images/clients/1.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/2.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/3.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/4.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/5.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/6.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/7.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/8.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/9.png" /> </a>
            </div>
          </div>
        </div>
      </section>
      <!-- end: CLIENTS -->

      <!-- Footer -->
      <footer id="footer">
        <div class="footer-content">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4">
                <!-- Footer widget area 1 -->
                <div class="widget">
                  <h4>Quick Links</h4>
                  <ul class="list">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html">Products</a></li>
                    <li><a href="index.html">Contact</a></li>
                  </ul>
                </div>
                <!-- end: Footer widget area 1 -->
              </div>
              <div class="col-lg-4 col-lg-4 col-md-4">
                <!-- Footer widget area 1 -->
                <div class="widget">
                  <h4>Contact</h4>
                  <ul class="list-icon">
                    <li>
                      <i class="far fa-envelope"></i>
                      <a href="mailto:first.last@example.com"
                        >first.last@example.com</a
                      >
                    </li>
                    <li><i class="fa fa-phone"></i> (123) 456-7890</li>
                    <li><i class="fa fa-phone"></i> (123) 456-7890</li>
                  </ul>
                </div>
                <!-- end: Footer widget area 1 -->
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4">
                <!-- Footer widget area 2 -->
                <div class="widget">
                  <h4>Address</h4>
                  <ul class="list">
                    <li>
                      <i class="fa fa-map-marker-alt"></i> 795 Folsom Ave, Suite
                      600 <br />
                      San Francisco, CA 94107
                    </li>
                  </ul>
                </div>
                <!-- end: Footer widget area 2 -->
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- Social icons -->
                <div class="social-icons social-icons-colored float-left">
                  <ul>
                    <li class="social-instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="social-facebook">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social-youtube">
                      <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- end: Social icons -->
              </div>

              <div class="col-lg-6">
                <div class="copyright-text text-end">
                  &copy; 2021 POLO HTML5 Template. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"
      ><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i
    ></a>
    <!--Plugins-->
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/plugins.js"></script>
    <!--Template functions-->
    <script src="/scripts/functions.js"></script>
  </body>
</html>
