<%- include('head') %>
      <!-- Inspiro Slider -->
      <div
        id="slider"
        class="inspiro-slider slider-fullscreen dots-creative"
        data-fade="true"
      >
        <!-- Slide  -->
        <div
          class="slide kenburns"
          data-bg-image="images/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/notgeneric_bg3.jpg"
        ></div>
        <div
          class="slide kenburns"
          data-bg-image="images/notgeneric_bg3.jpg"
        ></div>
        <!-- end: Slide  -->
      </div>
      <!--end: Inspiro Slider -->
      <!-- About Us -->
      <section class="p-b-10">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 m-t-60">
              <img alt="Shop product image!" style="width: 100%;" src="https://images.unsplash.com/photo-1518253042715-a2534e1b0a7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" />
            </div>
            <div class="col-lg-6">
              <div class="heading-text text-center mt-5">
                <h2 class="fw-light">About Us</h2>
                <p class="lead px-5 fw-normal"
                  >Our company has been established since 1995. We started our
                  journey as traders in electrical products in a very small room
                  but proud to announce that we are distributors of more than 11
                  companies with more than 10 employees including automation
                  products and after services. We have consistently offered
                  hi-tech products and good service to our customers enabling us
                  to create a large portfolio of dedicated and loyal customers.
                  We provide products like drives, switch gears, cable, sensors,
                  controllers, encoders, interface product, transmitters,
                  recorders, power controllers, tower light/signal lights,
                  measuring and testing instruments and many more industrial
                  products. Our company’s main target is to sale reliable
                  products which helps our customer for sustainable development
                  of revolutionary world.
              </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End: About Us -->
      <!-- CLIENTS -->
      <section class="p-t-60">
        <div class="container">
          <div class="heading-text heading-section text-center">
            <h4 class="fw-light">Authorized Channel Partners</h4>
          </div>
          <div
            class="carousel client-logos"
            data-items="6"
            data-items-sm="4"
            data-items-xs="3"
            data-items-xxs="2"
            data-margin="20"
            data-arrows="false"
            data-autoplay="true"
            data-autoplay="3000"
            data-loop="true"
          >
            <div>
              <a href="#"><img alt="" src="images/clients/1.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/2.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/3.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/4.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/5.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/6.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/7.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/8.png" /> </a>
            </div>
            <div>
              <a href="#"><img alt="" src="images/clients/9.png" /> </a>
            </div>
          </div>
        </div>
      </section>
      <!-- end: CLIENTS -->
<%-include('footer') %>
     